
.bgc-stripe-1{
    background-color: $bgc-stripe-1-color;
}

.bgc-stripe-2{
    background-color: $bgc-stripe-2-color;
}

.bgc-main {
    background-color: $bgc-stripe-1-color;
}

// --------------------------- TRANSITIONs -----------------------------------
// transizione in ingresso, per apparire gradualmente
.fade-enter-active {
    transition: opacity 1.5s;
}
.fade-enter {
    opacity: 0;
}

// transizione in uscita, per scomparire gradualmente
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-leave-to {
    opacity: 0;
}
